include README.md
include LICENSE

include feapder/requirements.txt
include feapder/VERSION
include feapder/utils/js *

recursive-include feapder/templates *

recursive-include tests *

global-exclude __pycache__ *.py[cod]