# -*- coding: utf-8 -*-
"""
Created on {DATE}
---------
@summary:
---------
@author: {USER}
"""

from spider import Item


class ${table_name}Item(Item):
    def __init__(self, *args, **kwargs):
        ${propertys}
