# -*- coding: utf-8 -*-
"""
Created on {DATE}
---------
@summary:
---------
@author: {USER}
"""

import feapder


class ${spider_name}(feapder.Spider):
    # 自定义数据库，若项目中有setting.py文件，此自定义可删除
    __custom_setting__ = dict(
        REDISDB_IP_PORTS="localhost:6379",
        REDISDB_USER_PASS="",
        REDISDB_DB=0,
        # 域名级QPS限制配置（可选，默认不启用）
        # DOMAIN_RATE_LIMIT_ENABLE=True,   # 是否启用QPS限制
        # DOMAIN_RATE_LIMIT_DEFAULT=0,     # 默认不限制（0表示不限制）
        # DOMAIN_RATE_LIMIT_RULES={        # 特定域名的QPS规则
        #     "baidu.com": 5,              # 百度主域名限制5 QPS
        #     "api.baidu.com": 20,         # 百度API限制20 QPS
        #     "*.google.com": 8,           # 谷歌系域名8 QPS
        # }
    )

    def start_requests(self):
        yield feapder.Request("https://spidertools.cn")

    def parse(self, request, response):
        # 提取网站title
        print(response.xpath("//title/text()").extract_first())
        # 提取网站描述
        print(response.xpath("//meta[@name='description']/@content").extract_first())
        print("网站地址: ", response.url)


if __name__ == "__main__":
    ${spider_name}(redis_key="xxx:xxx").start()
