# -*- coding: utf-8 -*-
'''
Created on {DATE}
---------
@summary:
---------
@author: {USER}
'''

import feapder


class ${spider_name}(feapder.SingleSpider):
    def start_requests(self, *args, **kws):
        pass

    def parser(self, request, response):
        pass


if __name__ == "__main__":
    ${spider_name}().start()