better-exceptions==0.2.2
DBUtils==1.3
parsel==1.5.2
PyExecJS==1.5.1
PyMySQL==0.9.3
redis==2.10.6
requests>=2.22.0
bs4==0.0.1
ipython==7.14.0
bitarray==1.5.3
redis-py-cluster==1.3.4
cryptography==3.3.2