better-exceptions>=0.2.2
DBUtils>=2.0
parsel>=1.5.2
PyExecJS>=1.5.1
pymongo>=3.10.1
PyMySQL>=0.9.3
redis>=2.10.6
requests>=2.22.0
selenium>=3.141.0
bs4>=0.0.1
ipython>=7.14.0
bitarray>=1.5.3
redis-py-cluster>=2.1.0
cryptography>=3.3.2
urllib3>=1.25.8
loguru>=0.5.3
influxdb>=5.3.1